:root {
  --clr-primary-1: #f2edf1;
  --clr-primary-2: #ef93ee;
  --clr-primary-3: #40054e;
  --clr-primary-4: #78066f;
  --clr-red: #e32182;
  --clr-red2: #d52a55;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-brown: #58393e;
  --clr-brown2: #9b5555;
  --clr-secondary-1: #0cd6ed;
  --clr-secondary-2: #f59bd1;
  --clr-secondary-3: #f2389b;
  --clr-secondary-4: #be10e1;

  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 8px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  min-height: calc(100vh - 5rem);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-primary-1);
  min-height: calc(100vh - 5rem);
  letter-spacing: 0.07rem;
  overflow-x: hidden;
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.2rem;
}
p {
  margin-bottom: 0.875rem;
}

link {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
  color: var(--clr-primary-3);
}

a {
  text-decoration: none !important;
  color: var(--clr-dark);
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  body {
    font-size: 0.875rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
/* input */
input {
  background-color: var(--clr-primary-1);
  border: 2px solid var(--clr-primary-2);
  border-radius: 0.5rem;
  width: 100%;
  padding: 1rem;
}

input::placeholder {
  color: var(--clr-red);
  opacity: 1;
}

input:focus {
  border-color: var(--clr-brown);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* loader */

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-4);
  animation: spinner 0.6s linear infinite;
}

/* button */

button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 3rem;
  background: linear-gradient(
    135deg,
    var(--clr-primary-4),
    var(--clr-primary-3)
  );
  color: var(--clr-white);
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button:hover {
  background: linear-gradient(
    135deg,
    var(--clr-secondary-3),
    var(--clr-secondary-4)
  );
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

